parameters:
	level: 6
	paths:
		- src
		- tests
		- lib
	scanDirectories:
		- /mnt/682c51f3-0798-4198-803d-9c3c4ad16069/docker-compose-lamp/www/wordpress/wp-includes
		- /mnt/682c51f3-0798-4198-803d-9c3c4ad16069/docker-compose-lamp/www/wordpress/wp-admin
		- /mnt/682c51f3-0798-4198-803d-9c3c4ad16069/docker-compose-lamp/www/wordpress/wp-content/plugins/woocommerce/
		- wp-content